/* 
  ~~ Misc Styling ~~
*/

@font-face {
    font-family: Walkway;
    font-weight: 500;
    src: url("../fonts/Walkway Semibold.ttf");
}

@font-face {
    font-family: Walkway;
    font-weight: 600;
    src: url("../fonts/Walkway Bold.ttf");
}

@font-face {
    font-family: Walkway;
    font-weight: 700;
    src: url("../fonts/Walkway Black.ttf");
}

* {
    font-family: Walkway, Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    margin: 0;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 0;
    background: #000;
}

p {
    margin: 0;
    padding: 0;
}

.ie-notif {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    text-align: center;
}

.ie-notif * {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.ie-notif h1 {
    font-size: 50px;
}

.ie-notif p {
    font-size: 25px;
}

/*
  ~~ Header and Nav-bar ~~
*/

.header {
    height: 75px;
}

.logo {
    width: 50px;
    height: 50px;
    position: relative;
    top: 13px;
}

.logo-text {
    line-height: 75px;
    font-weight: 700;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.floaty {
    float: right;
    margin-top: 25px;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 14px;
}

.header li {
    text-transform: uppercase;
    display: inline;
    margin-left: 10px;
    font-size: 25px;
    line-height: 25px;
}

.header li a {
    text-decoration: none;
    display: inline-block;
    transition: text-shadow 0.2s, cubic-bezier(0.0, 0.0, 0.2, 1);
}

.header li a:hover {
    text-shadow: 0 0 15px #FFF;
}

.header li a::after {
    content: "";
    width: 0;
    height: 2px;
    margin: auto;
    background: #FFF;
    display: block;
    transition: width 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.header li a:hover::after {
    width: 100%;
}

.header li a.current {
    text-shadow: 0 0 15px #FFF;
}

.header li a.current::after {
    width: 100%;
}

/*
  ~~ Page Content ~~
*/

.content {
    width: 100%;
    min-height: calc(100% - 75px - 75px);
    box-sizing: border-box;
    border: 5px solid #FFF;
    padding: 10px;
}

/*
  ~~ Footer ~~
*/

.footer {
    background: #FFF;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.footer p {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-padding {
    margin-left: 25px;
    margin-right: 25px;
}

.footer-padding p:nth-child(1) {
    float: left;
}

.footer-padding p:nth-child(2) {
    float: right;
}

.github {
    width: 30px;
    height: 30px;
    background-image: url("../images/github.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    top: 2px;
}

.twitter {
    width: 30px;
    height: 30px;
    background-image: url("../images/twitter.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    top: 2px;
}

.discord {
    width: 30px;
    height: 30px;
    background-image: url("../images/discord.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    top: 2px;
}

/*
  ~~ Media Links ~~
*/

.media-links {
    width: 525px;
    margin: auto;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
}

.media-links li {
    transition: text-shadow 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.media-links li:hover {
    text-shadow: 0 0 15px #FFF;
}

.media-links li a {
    text-decoration: none;
}

.media-links li a span:nth-child(1) {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.media-links li a span:nth-child(1)::after {
    content: ' - ';
}

.media-links li a span:nth-child(2) {
    float: right;
    color: rgba(255, 255, 255, 0.5);
}